{%extends 'base.html'%}
{% load tailwind_filters %}
{% load widget_tweaks %}
<title>
	{% block title %}
	  leads
	{% endblock title %}
  </title>
{%block content%}
<br><br>
<table id="misen" class="table table-bordered table-hover nowrap table-sm" cellspacing="0" style="width:100%">
    {% csrf_token %}
	<thead class="thead-dark">
		<tr>
			<th class="text-center">#</th>
            {% if request.user.is_staff %}
            <th class="text-center"><input type="checkbox" name="" id="site_select_all"></th>
            {% endif %}
			<th class="text-center">Name</th>
			<th class="text-center">Phone</th>
			<th class="text-center">Data Creation</th>
			<th class="text-center">Source</th>
			<th class="text-center">Category</th>
            {% if request.user.is_staff %}
            <th class="text-center">User</th>
			<th class="text-center">Action</th>
            {% endif %}
		</tr>
	</thead>
	<tbody>
		{% for lead in leads %}
		<tr id="{{lead.id}}">
			<td class="text-center">{{lead.id}}</td>
            {% if request.user.is_staff %}
            <td class="text-center"><input type="checkbox" name="sel" id="delete_lead" value="{{lead.id}}"></td>
            {% endif %}
			<td class="text-center"><a href="{% url 'leads:lead-update' lead.pk %}">{{lead.name}}</a></td>
			<td class="text-center">{{lead.phone}}</td>
			<td class="text-center">{{lead.created_at|date:'Y-m-d'}}</td>
			<td class="text-center">{{lead.source}}</td>
			<td class="text-center">{{lead.category}}</td>
            {% if request.user.is_staff %}
            <td class="text-center">{{lead.user}}</td>
			<td class="text-center">
				<a href="{% url 'leads:lead-update' lead.pk %}"><i class="fas fa-edit text-primary"></i></a>
				<a href="{% url 'leads:lead-delete' lead.pk %}" onclick="return confirm('Are you sure to delete this Lead?');"><i class="fas fa-trash-alt text-danger"></i></a>
			</td>
            {% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if is_paginated %}
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center pagination-circle">
 {% if page_obj.has_previous %}
  <li class="page-item"><a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left text-dark"></i> Previous</a></li>
{% else %}
  <li class="page-item"><a><span class="page-link text-secondary">&laquo;</span></a></li>
{% endif %}
{% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="active page-item text-secondary"><span class="page-link">{{ i }}</span></li>
  {% else %}
  <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li class="page-item"><a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">Next <i class="fas fa-arrow-right text-dark"></i></a></li>
{% else %}
  <li class="page-item"><span class="page-link text-secondary">&raquo;</span></li>
{% endif %}
</ul>
</nav>
{% endif %}
<br><br>
<div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap">
                
    <div class="col-12 col-md-6 d-flex flex-column px-2">
      <div class="Box rounded-2 d-flex flex-column overflow-hidden width-full flex-auto mb-4">
        <div class="d-flex flex-justify-between px-4 pt-3 pb-4" style="min-height: 136px">
          <div class="pr-4">
            <h4 class="mb-1 lh-condensed">Bulk Delete</h4>
  
            <p class="color-text-tertiary f6">
              By
                GitCrm Actions
            </p>
  
            <p class="color-text-tertiary f6 mb-2">
              Delete multiple leads all at once.
            </p>
            <button id="delete_all" class="btn d-none d-lg-inline-block btn-block" style="background-color: crimson; color: white;">Bulk Delete</button>
          </div>
          <div>
            <div class="CircleBadge CircleBadge--small" style="color: #3572A5; background-color: var(--color-scale-white);">
                <img class="CircleBadge-icon" src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzJiYTk3NyI+PHBhdGggZD0iTTIxLjA5MyAwaDcuOTMzdjM2LjAyMmMtNC4wNjQuNzYyLTcuMDU1IDEuMDYxLTEwLjI5MiAxLjA2MUM5LjA0NCAzNy4wNzMgNCAzMi43ODUgNCAyNC41NWMwLTcuOTM2IDUuMzUtMTMuMDg2IDEzLjY0MS0xMy4wODYgMS4yODcgMCAyLjI2Ny4xIDMuNDUyLjR6bS4yNzggMTguMzU1Yy0uOTMtLjMtMS42OTUtLjQtMi42NzYtLjQtNC4wMTIgMC02LjMzIDIuNDI0LTYuMzMgNi42NzMgMCA0LjEzNyAyLjIxNiA2LjQyMiA2LjI4IDYuNDIyLjg3OCAwIDEuNTkyLS4wNSAyLjcyNi0uMnoiLz48cGF0aCBkPSJNNDIgMTIuNDN2MTguMDM1YzAgNi4yMTItLjQ3IDkuMTk5LTEuODQ4IDExLjc3NC0xLjI4NyAyLjQ3Ni0yLjk4MiA0LjAzNy02LjQ4NCA1Ljc2MWwtNy4zNjItMy40MzdjMy41MDMtMS42MTIgNS4xOTgtMy4wMzcgNi4yOC01LjIxMSAxLjEzMy0yLjIyMyAxLjQ5LTQuNzk4IDEuNDktMTEuNTcyVjEyLjQzek0zMy4yNzcgMGg3LjkzNHY3Ljk4NmgtNy45MzR6Ii8+PC9nPjwvc3ZnPg==" alt="Django logo">
          </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-auto flex-justify-end">
            <code class="color-text-tertiary text-mono d-block mb-3 flex-auto px-4">
                Be careful this action can never be undone.<br>
                If you click bulk delete they will permanently be destroyed on the database.<br>
                Keep track of everything happening in your project and see exactly what’s changed since the last time you looked.<br>
                When deleting leads instead archive them to some dummy user, you can choose to reuse these leads later stored using Git LFS in the database.<br>
            </code>
          <div class="d-flex flex-justify-between flex-items-center pt-2 pb-3 px-4">
            <a href="#" class="d-flex flex-items-center text-small Link--muted no-wrap overflow-hidden">
              <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-repo flex-shrink-0 mr-1">
      <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
  </svg>
              <span class="mr-1 width-full overflow-hidden" style="text-overflow: ellipsis;">
                actions/starter-workflows
              </span>
            </a>
            <div class="d-flex flex-items-center flex-auto flex-justify-end no-wrap overflow-hidden">
                  <span class="color-text-tertiary text-small overflow-hidden width-full text-right" style="text-overflow: ellipsis;">
                    Django
                  </span>
              <span class="repo-language-color ml-2 top-0 flex-shrink-0" style="background-color: #e34c26"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-md-6 d-flex flex-column px-2">
      <div class="Box rounded-2 d-flex flex-column overflow-hidden width-full flex-auto mb-4">
        <div class="d-flex flex-justify-between px-4 pt-3 pb-4" style="min-height: 136px">
          <div class="pr-4">
            <h4 class="mb-1 lh-condensed">Bulk Update</h4>
  
            <p class="color-text-tertiary f6">
              By
                GitCrm Actions
            </p>
  
            <p class="color-text-tertiary f6 mb-2">
              Update multiple leads details all at once.
            </p>
            <form method="post" id="form1">
                {% csrf_token %}
                {{form|crispy}}
            <button id="assign" type="submit" class="btn d-none d-lg-inline-block btn-block btn-primary">Update Leads</button>
            </form>
          </div>
          <div>
            <div class="CircleBadge CircleBadge--small" style="color: #3572A5; background-color: var(--color-scale-white);">
                  <img class="CircleBadge-icon" src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzJiYTk3NyI+PHBhdGggZD0iTTIxLjA5MyAwaDcuOTMzdjM2LjAyMmMtNC4wNjQuNzYyLTcuMDU1IDEuMDYxLTEwLjI5MiAxLjA2MUM5LjA0NCAzNy4wNzMgNCAzMi43ODUgNCAyNC41NWMwLTcuOTM2IDUuMzUtMTMuMDg2IDEzLjY0MS0xMy4wODYgMS4yODcgMCAyLjI2Ny4xIDMuNDUyLjR6bS4yNzggMTguMzU1Yy0uOTMtLjMtMS42OTUtLjQtMi42NzYtLjQtNC4wMTIgMC02LjMzIDIuNDI0LTYuMzMgNi42NzMgMCA0LjEzNyAyLjIxNiA2LjQyMiA2LjI4IDYuNDIyLjg3OCAwIDEuNTkyLS4wNSAyLjcyNi0uMnoiLz48cGF0aCBkPSJNNDIgMTIuNDN2MTguMDM1YzAgNi4yMTItLjQ3IDkuMTk5LTEuODQ4IDExLjc3NC0xLjI4NyAyLjQ3Ni0yLjk4MiA0LjAzNy02LjQ4NCA1Ljc2MWwtNy4zNjItMy40MzdjMy41MDMtMS42MTIgNS4xOTgtMy4wMzcgNi4yOC01LjIxMSAxLjEzMy0yLjIyMyAxLjQ5LTQuNzk4IDEuNDktMTEuNTcyVjEyLjQzek0zMy4yNzcgMGg3LjkzNHY3Ljk4NmgtNy45MzR6Ii8+PC9nPjwvc3ZnPg==" alt="Django logo">
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-auto flex-justify-end">
          <div class="d-flex flex-justify-between flex-items-center pt-2 pb-3 px-4">
            <a href="#" class="d-flex flex-items-center text-small Link--muted no-wrap overflow-hidden">
              <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-repo flex-shrink-0 mr-1">
      <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
  </svg>
              <span class="mr-1 width-full overflow-hidden" style="text-overflow: ellipsis;">
                actions/starter-workflows
              </span>
            </a>
            <div class="d-flex flex-items-center flex-auto flex-justify-end no-wrap overflow-hidden">
                  <span class="color-text-tertiary text-small overflow-hidden width-full text-right" style="text-overflow: ellipsis;">
                    Python
                  </span>
              <span class="repo-language-color ml-2 top-0 flex-shrink-0" style="background-color: #3572A5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
	    function get_Selected_id() {
            var searchIDs = $("input[name=sel]:checked").map(function(){
                return $(this).val();
            }).get();
            return searchIDs;
        }

        $(document).ready(function() {
            var table = $('#misen').DataTable({
                "paging": true,
                "aLengthMenu": [[10, 25, 50, 100,], [10, 25, 50, 100,]],
                "iDisplayLength": 50,
                "searching": false,
                "responsive": true,
                "ordering":true,
                "order": []
            });
            // Handle click on "Select all" control
            $('#site_select_all').on('click', function(){
                // Check/uncheck all checkboxes in the table
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

        $("#assign").click(function(event){
                event.preventDefault();
                    var id = get_Selected_id();
                    var csrf = $('input[name=csrfmiddlewaretoken').val();
                    var user = document.getElementById("id_user").value;
                    var category = document.getElementById('id_category').value;
                    if (id!='') {
                        /*$('#delete_leads_ids').eq(0).val(leads_ids);
                        $('#delete_multiple_form').submit();*/
                        $.ajax({
                            url: "{%url 'leads:modify' %}",
                            method: "POST",
                            data: {
                                id,
                                csrfmiddlewaretoken:csrf,
                                user, category
                            },
                            success:function(response){
                                for(var i=0; i<id.length; i++){
                                    $('tr#'+id[i]+'').css('background-color', '#ccc');
                                    $('tr#'+id[i]+'').fadeOut('slow');
                                }
                                window.location.href = ".";
                            }
                        })

                    } else {
                        return confirm("No leads selected");
                    }
                return false;
            });

            $('#delete_all').click(function(event){
          event.preventDefault();
          if(confirm("Are you sure to delete selected?")){
              var id = get_Selected_id();
              var csrf = $('input[name=csrfmiddlewaretoken').val();
              if(id!=''){
                  $.ajax({
                      url: "{%url 'leads:delete-multiple' %}",
                      method: "POST",
                      data: {
                          id,
                          csrfmiddlewaretoken:csrf,
                      },
                      success:function(response){
                          for(var i=0; i<id.length; i++){
                              $('tr#'+id[i]+'').css('background-color', '#ccc');
                              $('tr#'+id[i]+'').fadeOut('slow');
                          }
                          window.location.href = ".";
                      }
                  })
              }
              else{
                  return confirm("No leads selected");
              }
          }
          return false;
        });
    });
</script>
{%endblock content%}