{%extends 'base.html'%}
{% load tailwind_filters %}
<title>
	{% block title %}
	  categories
	{% endblock title %}
  </title>
  <body>
{%block content%}
<br><br>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="redbull text-muted text-center">
        <h3 class="card-title">Quick Create a new Category. </h3>
        </div>
          <form action="{% url 'categories:category-create' %}" method="post" novalidate>
            {% csrf_token %}
            {{form|crispy}}
        </div>
      </div>
      <br>
      <div class="text-muted text-center">
        <button type="submit" class="btn btn-primary col-lg-8"><span class="fa fa-hdd" aria-hidden="true"></span> Create</button>
      </form>
      </div>
<br><br>
<table id="categories" class="table table-bordered nowrap table-sm" cellspacing="0" style="width:100%">
    {% csrf_token %}
	<thead class="thead-dark">
		<tr>
			<th class="text-center">#</th>
			<th class="text-center">Category</th>
			<th class="text-center">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr id="{{lead.id}}">
			<td class="text-center">{{category.id}}</td>
			<td class="text-center"><a href="{% url 'categories:category-update' category.pk %}">{{category}}</a></td>
			<td class="text-center">
				<a href="{% url 'categories:category-update' category.pk %}"><i class="fas fa-edit text-primary"></i></a>
				<a href="{% url 'categories:category-delete' category.pk %}" onclick="return confirm('Are you sure to delete this Category?');"><i class="fas fa-trash-alt text-danger"></i></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if is_paginated %}
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center pagination-circle">
 {% if page_obj.has_previous %}
  <li class="page-item"><a class="page-link text-secondary" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left text-dark"></i> Previous</a></li>
{% else %}
  <li class="page-item"><a><span class="page-link text-secondary">&laquo;</span></a></li>
{% endif %}
{% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="active page-item text-secondary"><span class="page-link">{{ i }}</span></li>
  {% else %}
  <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li class="page-item"><a class="page-link text-secondary" href="?page={{ page_obj.next_page_number }}">Next <i class="fas fa-arrow-right text-dark"></i></a></li>
{% else %}
  <li class="page-item"><span class="page-link text-secondary">&raquo;</span></li>
{% endif %}
</ul>
</nav>
{% endif %}
<br><br>
<script>
    $(document).ready(function(){
        var table = $('#categories').DataTable({
            "paging":true,
            "aLengthMenu":[[10,25,50,100],[10,25,50,100]],
            "iDisplayLength":25,
            "searching":false,
            "responsive":true,
            "order": []
        });
	});
</script>
{%endblock content%}
</body>