{% extends "probability.html" %}
{% block title %}reset passwd{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reset your password</h3>
          <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
          <p>If an email doesn't appear on your inbox or spam folder this means the email might be incorrect or an account with this email does not exist.
            If that is the case <a href="{% url 'signup' %}">create a new account.</a>
          </p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}